<div class="row">
  <div class="col">
    <canvas id="video-history-chart" width="400" height="400"></canvas>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script>

  // const ctx = $('#video-history-chart');
  // const chart = new Chart(ctx, {
  //   type: 'line',
  //   data: {
  //       datasets: [
  //           {
  //               label: 'Audits',
  //               data: auditsHash,
  //               fill: false,
  //               borderColor: 'red'
  //           },
  //       ]
  //   },
  //   options: {
  //      scales: {
  //          xAxes: [{
  //              type: 'time',
  //              time: {
  //                unit: 'hour',
  //                   displayFormats: {
  //                      quarter: 'hA'
  //                  }
  //              }
  //          }]
  //      }
  //  }
  // });
</script>
