
table tbody td {
  background: : #32383e;
  color: black;
}

table tbody tr td img{
  height: 2rem;
  width: 2rem;
}

.ldBar.label-center > .ldBar-label {
  left: 0;
}

.toast-message a:hover {
    text-decoration: underline!important;
}

.jumbotron{
  background: #c0d0ed;
}
